
body, html {
  height: 100%;
}
.bg { 
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
} 

#nav-options {
  margin: 0.5em;
  }

#nav-options button.thumbnail {
  margin: 0;
  padding: 0;
}

#nav-options img {
  max-height: 2.3em;
  border-radius: 0.3em;
}

.navbar{
  margin-top: 1.5em;
  border-radius: 3px;
  box-shadow: 0 0 15px grey;
}
.sticky-top { 
  top: 1.5em; 
}
.navbar-brand {
    line-height:12px;
    padding-top:20px;
    padding-bottom:20px;
    font-size:30px;
  }
  
  .navbar-brand small {
    padding-top: 10px;
    display:block;
    font-size:15px;
  }
  
  ul li a:hover, ul li a:focus {
    color:rgb(255, 255, 255);
   }
  .bg-medium-color{
     background-color: #d634d6;
  }

  //login form
  body.my-login-page {
    //background-color: #ee93c8;
    font-size: 14px;
  }
  
  .my-login-page .brand {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin: 40px auto;
    box-shadow: 0 0 40px rgba(243, 172, 238, 0.05);
  }
  
  .my-login-page .brand img {
    width: 100%;
  }
  
  .my-login-page .card-wrapper {
    width: 400px;
  }
  
  .my-login-page .card {
    border-color: transparent;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
  }
  
  .my-login-page .card.fat {
    padding: 10px;
  }
  
  .my-login-page .card .card-title {
    margin-bottom: 30px;
  }
  
  .my-login-page .form-control {
    border-width: 2.3px;
  }
  
  .my-login-page .form-group label {
    width: 100%;
  }
  
  .my-login-page .btn.btn-block {
    padding: 12px 10px;
  }
  
  .my-login-page .margin-top20 {
    margin-top: 20px;
  }
  
  .my-login-page .no-margin {
    margin: 0;
  }

  .logged-in{
    margin-top: 1.5em;
  }
  
footer{
  margin-top: 1.5em;
  border-radius: 3px;
  box-shadow: 0 0 40px rgba(243, 172, 238, 0.05);
  background-color: #d634d6;
  color: aliceblue;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

//search on the navbar
nav form#search {
  float: right;
  padding: 0.5em;
}

nav form#search .glyphicon-search {
  z-index: 99;
  position: absolute;
  right: 0.7em;
  top: 50%;
  margin-top: -0.44em;
}

nav form#search .input-group .form-control {
  border-radius: 0.25em;
}

#post {
  margin: 0.5em;
  }

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
  color: #FFF;
  padding-bottom: 10px;
  border-bottom: 5px solid #FFF;
}

.dropdown-menu{
  background-color: rgb(248, 168, 248);
}

.card {
  border: 0.1rem solid #e5e5e5;
  border-radius: 0.4rem;
  background-color: rgb(158, 153, 226);
  }

  .card-block img.card-img {
    margin-top: -36px;
    width: 150px;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
    float: left;
    margin-left: 2.5rem;
    position: relative;
    z-index: 99;
 }

 .card-block .card-title {
    float: left;
    margin: 0;
    margin-left: 0.5em;
    color: #eee3ee;
  }
  .card-block .card-title small {
    display: block;
  }
  .card-block .card-text {
    clear: both;
    padding-top: 0.25em;
    margin-bottom: 1.5em;
  }

  .card-block ul a:hover {
    text-decoration: none;
    }
    .card-block ul .profile-stats {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 0.63em;
    }
    .card-block ul .profile-value {
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    color: #2F92CA;
    }
    .col-md-4{
      margin: 1.5rem;
    }

    form#new-message {
      border-radius: 0.4rem 0.4rem 0 0;
      padding: 1em;
      border-bottom: 0.1em solid #CEE4F5;
      background-color: #EBF4FB;
    }
      form#new-message .input-group-addon {
      background-color: #FFF;
    }
    
ul#feed {
  margin: 0;
}
ul#feed li {
  padding: 1em 1em;
}
ul#feed .feed-avatar {
  width: 13%;
  display: inline-block;
  vertical-align: top;
}

ul#feed .feed-post {
  width: 80%;
  display: inline-block;
  margin-left: 2%;
}
ul#feed .feed-post h5 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
ul#feed .feed-post h5 > small {
  font-size: 1.2rem;
}

ul#feed .action-list {
  margin-left: 13%;
  padding-left: 1em;
}

ul#feed .action-list a {
  width: 15%;
  display: inline-block;
}
  ul#feed .action-list a:hover {
  text-decoration: none;
}
  ul#feed .action-list .retweet-count {
  padding-left: 0.2em;
  font-weight: bold;
}

ul#feed li {
  padding: 1em 1em;
  border-bottom: 0.1rem solid #e5e5e5;
}
  ul#feed li:last-child {
  border-bottom: none;
}

#main{
  margin-top: 1.0rem;
}

.pag{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#account-tabs > li {
  border-bottom: 0.1rem solid #e700cf;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#account-tabs a {
  border-bottom: 0;
}
#account-tabs li.active {
  border-bottom: 0;
}

#main .tab-content {
  padding: 2em;
  margin-top: -0.1rem;
}

#account-tabs > li {
  border-bottom: 0;
}
  #account-tabs {
  position: relative;
  z-index: 99;
}

#main .form-horizontal .form-group:last-child {
  margin-bottom: 0;
}

.mnp-tab{
  background-color: rgb(243, 170, 219);
}

#tab-pane .tab-content {
  padding: 2em;
  margin-top: -0.1rem;
}
#account-tabs > li {
  border-bottom: 0;
}
#account-tabs {
  position: relative;
  z-index: 99;
}
#tab-pane .form-horizontal .form-group:last-child {
  margin-bottom: 0;
}
.user-form{
  background-color: rgb(172, 220, 241);
  padding: 1.0rem;
  border-radius: 5px;
}
.control-label {
  color: rgb(228, 18, 228);
  font-size: 18px;
}

#account-tabs li.active>a {
  background-color: rgb(172, 220, 241) !important;
}

.reset-password{
  margin-top: -5rem;
}